*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-l{
    float: left;
}

.float-r{
    float: right
}

.relative{
    position: relative;
}

nav.header{
    width: calc(100% / 2);
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    background-color: blueviolet;
}

div.nav-left ul.command-left-nav li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    margin-left: 40px;
}

div.nav-left{
    text-align: left;
}

div.nav-left .logo-top-left{
    margin-top: 30px;
    vertical-align: baseline;
}

.div.nav-right{
    text-align: right;
    background-color: darkcyan;
}

div.nav-right ul.command-right-nav li{
   /* text-align: right;
    list-style: none;*/
    display: inline; 
    padding-right: 10px;
    margin-left: 40px; 
   
}

.btn-avanti{
    width: 60px;
    padding: 4px;
    color: white;
    background-color: red;
}

/* main .cont-box-top{
    width: 100%;
    height: 500px;
} */

main .jumbo{
    width: 100%;
    height: 550px;
    background-color: lightblue;
}

.jumbo h1{
    padding-top: 40px;
    margin-bottom: 20px; 
    text-align: center;
    font-size: 3.5rem;
    padding: 0 auto;
}

.little-cont-top{
    margin: 30px 0 0 50px;
    padding: 20px 0 20px;
    width: 350px;
    height: 300px;
}

.btn-blue{
    text-align: center;
    width: 200px;
    height: 30px;
    color: white;
    padding: 5px;
    background-color: slateblue;
}

.btn-top{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

.annulla{
    margin-bottom: 20px;
}

.arrow-down i{
    font-size: 2rem;
    margin-bottom: 20px;
}

.img-out{
    left: 25px;
    bottom: 25px;
    background-image: url("./img/jumbo.png");
    background-size: cover;
}

.general-container{
    width: 80%;
    margin: 0 auto;
    background-color: slategray;
}

h2{
    margin: 20px 20px 20px 0;
}

.wrapper-column{
    width: 85%;
    margin: 0 auto;
    background-color: coral;
}

.cont-col{
    width: 280px;
    height: 500px;
    border: 1px solid lightskyblue;
    margin-top: 80px; 
    background-color: rgb(226, 195, 17);
}

.int-col{
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
}


.span-int-col{
    margin: 10px 10px 10px 0px;
}
/* .center-col{
    margin: 80px 15px 20px 15px;
    
} */

.btn-column{
    margin: 10px auto;
}

.col-orizzontale{
    width: 100%;
    height: 200px;
    background-color: darkkhaki;
}

footer{
    width: 100%;
    height: 550px; 
    background-color: darkgreen;
}
.cont-footer{
    width: 80%;
    margin: 0 auto;  
}